@charset "UTF-8";
.header{
    width: 100%;
    height: 40%;
    /* width: auto; */
}
.banner{
    
    z-index: 2; 
    width: 100%;
    margin-left: 0;
}

.banner_top{
    text-align: center;
    word-spacing: 10vw;
  
}
.banner_middle{
    line-height: 30px;
  
}

.logo{
    position: relative;
    width: 100%;
    height: 100px;
}


.banner_bottom {
    display: block;
    justify-content: center;
    align-content: center;
    width: 100%;
    position: relative;
    
}
.navbar{
    max-height: 40vh;
    padding: 0;
    justify-content: center;
    min-width: 100%;
    display: block;
    background-color: black;
    position:relative;
    margin: 0 auto;
}
.nav-item {
   
    margin: 10px auto;
    width: auto;
    justify-content: center;
    background-color: black;
}

.df{
    display: none;
}



/* 
.banner_bottom {
    display: block;
    justify-content: center;
    align-content: center;
}
.navbar{
    width: auto;
    min-width: none;
    display: block;
    background-color: black;

}
.nav-item {
    left: 0;
    right: 0;
    justify-content: center;
} 
*/
