@charset "UTF-8";

.header{

    height: 208px;
    width: 100%;
    /* width: 1024px; */
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid purple; */

}

.banner {
    position: relative; 
    width: 85%;
    
    text-align: center;
    min-width: 60%;
    justify-content: center;
    align-items: center;
}
.logo {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto auto;
    margin-left:30px;
}

.logo>a>img{
    height: 125px;
    width: 125px;
    margin-left: 30px;
    margin-top: 15px;
}

.banner_top {
    text-align: right;
        margin-right: 13%;


}

.mobile_banner
{
  display: none;
}
.banner_middle {

}
.banner_bottom {
    margin-top: 125px;
}



.navbar {
    display: flex;
    justify-content: space-evenly;
    margin-left: 15px;

}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 40%;
    /* border: 1px solid red; */
}
.navbar-nav li{
    width: 150px;
    height: 30px;
}
.nav-item {
    display: inline-block;
    position: relative;
    /* top: 0; */
    /* border: 1px solid orange; */
    
  }

.nav-link {
    display: block;
    /* padding: 10px; */
    text-decoration: none;
    color: white;
    width: 150px;   
    /* border: 1px solid yellow; */
}

.nav-item:hover .dropdown-menu {
    display: block;
    animation-name: slideDown;
  }

  
.dropdown-menu {
    background-color: black;
    display:none;
    position: absolute;
    top : 23px;
    left: 0;
    text-align: center;
    /* padding: 10px; */
    width: 150px; 
    z-index: 1;
    /* transform: translate(-38%, -20%); */
    /* border: 1px solid green; */
    animation-duration: 0.3s;
  animation-timing-function: ease-in;
  }
  
  .dropdown-item {
    width: 150px; 
    color: white;
    display: block;
    padding: 5px 0;
    padding-top: 10px 0;
    text-decoration: none;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }